%h1#loc
  Location
  %span Edit or if none add own.
#location_data.content_section
  .static_location
    .empty
      No results
    %span.static_address
    %span.static_city
    %span.static_state
    %span.static_zip
    %input.hidden{:name => 'additional_data[address]', :id => "additional_address"}
    %input.hidden{:name => 'additional_data[city]', :id =>"additional_city" }
    %input.hidden{:name => 'additional_data[state]', :id => "additional_state"}
    %input.hidden{:name => 'additional_data[zip]', :id => "additional_zip"}
  
  %a.change{:rel => 'location'} Edit or Add

  .dynamic_location{:style => 'display: none;'}
    %label name of the venue
    //=text_field_tag('venue_name_string', nil,:class => 'label_example', :id => 'full_address')
    =text_field_tag('venue_name', nil,:class => 'label_example', :id => 'full_address')
    %a.find_event_additional_info{:href=>'javascript:;'}
      =image_tag('/images/app/find.png', :alt => 'Find')
    %p.hint
      name, addess, state, country
  #google_local_results
%h1#dati
  Date/Time
  %span Edit or if none add own.
#time_data.content_section
  .static_time
    .empty
      No results
    %span.static_start_date
    %span.until.dated
      until
    %span.static_end_date
    .clear
    %span.static_start_time
    %span.until.timed
      until
    %span.static_end_time
    
  %a.change_time{:rel => 'time'} Edit or Add
  .clearfix#dynamic_time{:style => 'display: none'}
          
    %input.date_input{:type => 'text', :name => 'additional_data[start_datetime]', :id => "additional_start_date"}
    %input.time_input{:type => 'text', :name => 'additional_data[start_time]', :id => "additional_start_time" }
    %a.end_date_handler.unchecked
      End Date
    %a.end_time_handler.unchecked
      End Time
    .clearfix.dynamic_end_date
      %input.date_input{:type => 'text', :name => 'additional_data[end_datetime]', :id => "additional_end_date", :style => 'display:none'}
      %input.time_input{:type => 'text', :name => 'additional_data[end_time]', :id => "additional_end_time" , :style => 'display:none'}

= javascript_include_tag "anytime.js"
= javascript_include_tag "add_event_extra.js"
