%h1#loc
  Location
  %span Edit or if none add own.
#location_data.content_section
  .static_location
    .empty
      No results
    %span.static_source_id
    
    %input.hidden{:name => 'additional_data[source_id]', :id => 'additional_source_id'}
    %input.hidden{:name => 'additional_data[address]', :id => 'additional_address'}
    %input.hidden{:name => 'additional_data[city]', :id => 'additional_city'}
    %input.hidden{:name => 'additional_data[state]', :id => 'additional_state'}
    %input.hidden{:name => 'additional_data[country]', :id => 'additional_country'}
    %input.hidden{:name => 'additional_data[zip]', :id => 'additional_zip'}

  %a.change{:rel => 'location'} Edit or Add

  .dynamic_location{:style => 'display: none;'}
    %label name of the venue
    =text_field_tag('full_address', nil,:class => 'label_example')
    %a.find_place_additional_info{:href=>'javascript:;'}
      =image_tag('/images/app/find.png', :alt => 'Find')
    %p.hint
      name, addess, state, country

  #google_local_results

= javascript_include_tag "add_place_extra.js"
