.box_holder.notices
  .blue_banner
    = success
  .notice_message
    %p
      Please check your email for the invite and a link to create your account. 
    %p 
      If you do not receive your invite within a few minutes please check your spam folder.
    %p 
      The Hype Team
  .clear
    &nbsp;
