.index
  .delete_me.clearfix{{:style=>"width:600px;"}}
    - if params[:show_error]
      #errorExplanation{:class => "errorExplanation"}			
        %ul
          %li
            Please Enter correct password
    -else      
    %h2 To export your consumer information select the 'Get My Info' button
    %p 
      In order to export your consumer information (Profile, Hypes, Conversations and Tips) into <br />
      a CSV file just select the 'Get My Info' button and follow the prompts. Exporting does not <br />
      delete your information from The Hype. If you want to delete your account select 'Delete <br />
      Account' from above. Exporting provides a copy of all the information your contributed to <br />
      the Hype. Currently, we only support CSV format. Once you save a copy of your consumer <br />
      information to your computer you can view the file in any spreadsheet program <br />
      (eg. Excel, Numbers, Lotus 1-2-3). 
    %br
      - form_tag export_csv_users_path(current_user.id), :method => :post  do
        =image_submit_tag('/images/app/get_my_info.png', :class => '', :id => 'export_my_own_data' ,:style=>"padding-right:251px;")
        .clear