:css
  a.fbconnect_login_button {
  opacity:1;
  }
.index
  .social_networks.clearfix
    %h2 Select the service you would like to link or unlink to The Hype
   
    %p Linking allows you to Post to Twitter and Facebook without having <br /> to login each time you are on the site. Linking also verifies your <br /> authenticity &amp; helps your friends find you easier.

    %p Just select 'Link' next to the service you want to link up and follow <br /> the prompts. If you would like to unlink your account select 'Unlink' <br /> next to the service you want to unlink.

    = link_to_twitter('settings')
    =link_to_facebook


