.columns.one.clearfix
  .column.one
    %h1= "Manage News"
    
    %p 
      =link_to "Add new news", new_admin_info_path
    .tabs.clearfix
      .clearfix
      // Tab 1
      #tab1
        / Email templates
        %h2 News
        %table{:class => "listings sortable", :cellspacing => "0", :cellpadding => "0"}
          = render :partial => 'thead'
          %tbody
            = render :partial => "info", :collection => @infos
