.columns.one.clearfix
  .column.one
    %h1= "Creating News"

= error_messages_for :info
-form_for(@info, :url => admin_infos_url, :method => :post, :builder => HandcraftedFormBuilder) do |form| 
  = render :partial => "form", :object => form
  = form.submit 'Create' do 
    - link_to 'Cancel and Go Back', admin_infos_url
