app/stylesheets/.sass-cache
log/*.log
log/*.log.lck
log/*.pid
coverage
config/database.yml
config/campaign-monitor.yml
config/amazon_s3.yml
config/*.sphinx.conf
tmp/**/*
.DS_Store
doc/api
doc/app
db/*.db
db/*.sqlite3
db/schema.rb
db/sphinx/*
index/*
tmp/*
public/avatars
public/uploads
nohup.out
*.swp
setup.sh
.rake_tasks~
.autotest
*~
.rvmrc
rerun.txt
capybara-*.html
the_hype_test
solr/*
