-#.invite Invite
.menu
  .element{:id => "facebook_link", :style => selected('facebook')}
    .icon= image_tag("icons/fb_icon.png")
    .label Friends
    .clear

  .element{:id => "twitter_link", :style => selected('twitter')}
    .icon= image_tag("icons/twitter.png")
    .label Followers 
    .clear

  .element{:id => "gmail_link", :style => selected('gmail')}
    .icon= image_tag("icons/gmail.png", :style => "padding-top: 2px")
    .label Contacts
    .clear
  .clear
