-target = target || ''
.select-div
  %ul.select-filter
    %li
      %a.a-global{ :href => "javascript:;", :class => "option", :rel => target, :id => @user.id}
        Followers
    %li
      %a.a-following{ :href => "javascript:;", :class => "selected option", :rel => target, :id => @user.id}
        Following
.clear
