.container#new_label
  #form-header
    = image_tag 'app/logo_popups.png'
    %h2= "Add Tags: " + truncate(@item.name, :length => 20)
    = image_tag(@item.tiny_image)
    %br.clear
  .padding
    - form_for @label, :url => item_labels_path(@item) do |f|
      =f.error_messages

      =hidden_field_tag :item_id, @item.id
      
      .row#tags
        .field
          %span{:style => 'color: #999; font-weight: bold;'} Enter tag names below, separated by commas
          = text_field_tag :tags_string, '', :size => 40, :title => 'Enter your own or select, if any, all that apply from below.', :class => 'pros-cons'
          %br
          %br
          %span{:style => 'font-weight: bold'}Suggested tags:
          %span{:style => 'font-weight: normal'}select to add them
          //%ul{:style => 'margin-top: 7px'}
          //- @item.tag_cloud.each do |tag|
          //%li= link_to tag['tag'], "#", :class => 'tag_option'
        
      .row#tag_cloud
        #tag_cloud_canvas
        
      .form_actions{:style => 'border-top: solid 2px #666; height: 20px; padding-top: 5px;'}
        %a{:href => '#', :id => 'close_label'} Close
        =f.submit '', :id => 'save-tags-button', :style => 'float: right'
        
:javascript
  $('#tags_string').autocomplete('/searches/tags', {
    mustMatch : false,
    cacheLength: 1,
    minChars: 3,
    max: 15,
    scroll: false,
    selectFirst: false,
    multiple: true,
    multipleSeparator: ", ", 
    autoFill: false
  });