/* -----------------------------------------------------
	Base
----------------------------------------------------- */
* { margin: 0; padding: 0; }
html, body { height: 100%; margin: 0 0 1px 0; padding: 0; }
body { background: #e5e5e5; color: #141414; font: 13px Arial, Helvetica, sans-serif; }

/* -----------------------------------------------------
	Structure
----------------------------------------------------- */
#container { margin: 0 auto; width: 770px; }
#left { background: #fff; border: 4px solid #ccc; border-top: none;
border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
display: inline; float: left; width: 530px; }
#left .inner { min-height: 450px; height: auto !important; height: 450px; padding: 15px; }
#right { display: inline; float: right; width: 205px; }
#left .inner,
#right .inner { padding-top: 20px; }
/* -- [Blog Title] -- */
#left #blog_title { border-bottom: 4px solid #eee; font-size: 28px; font-weight: bold; margin: 0 0 25px 0; padding: 0 0 4px 0; }
#left #blog_title a { color: #000; text-decoration: none; }
/* -- [Right] -- */
#right #search_form { /* Pushes the search form's top to the top of the blog_title */ margin-top: 2px; }
#right #search_form label { display: block; font-size: 16px; font-weight: bold; padding-bottom: 10px; }
#right #search_form input[type="text"] { padding: 2px 3px; width: 124px; }
#right #search_form input[type="submit"] { margin-left: 2px; }
#right h4 { border-bottom: 1px solid #ccc; font-size: 16px; margin: 30px 0 10px 0; padding-bottom: 10px; }
#right a, #right a:link, #right a:visited { color: #0033CC; padding: 1px; text-decoration: underline; }
#right a:hover { background: #0033CC; color: #fff; text-decoration: none; }
#right a:focus, #right a:active { outline: none; }
#right ul { margin: 0; padding: 0; }
#right ul li { display: block; font-size: 13px; line-height: 1.3; margin-bottom: 5px; }

/* -----------------------------------------------------
	Posts Admin
----------------------------------------------------- */
.posts_admin { background: #000; background-color: #000; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; position: fixed; bottom: 0; width: 100%; }
.posts_admin .inner { padding: 4px 0; }
.posts_admin ul,
.posts_admin ul li,
.posts_admin ul li a { display: inline; float: left; }
.posts_admin ul li { margin-right: 4px; }
.posts_admin ul li.first { margin-left: 4px; }
.posts_admin a { background-position: 6px 50%; background-repeat: no-repeat; color: #fff; display: block; padding: 6px 12px; padding-left: 28px; text-decoration: none; }
.posts_admin a:hover { background-color: #222; background-repeat: no-repeat; color: #fff; }
.posts_admin ul li#manage_blog_posts a { background-image: url(/images/blog/settings.png); }
.posts_admin ul li#add_new_post a { background-image: url(/images/blog/add.png); }

/* -----------------------------------------------------
	Posts Formatting
----------------------------------------------------- */
.posts .post { border-bottom: 4px solid #eee; margin-bottom: 25px; padding-bottom: 25px; }
.posts .post.last { margin-bottom: 0; }
/* -- [.post_title] -- */
.posts .post .post_title { border-bottom: 1px solid #eaeaea; font-size: 20px; margin-bottom: 15px; padding-bottom: 5px; }
.posts .post .post_title a { color: #0033CC; padding: 1px; text-decoration: none; }
.posts .post .post_title a:hover { text-decoration: underline; }
/* -- [.post_info] -- */
.posts .post .post_info { margin-bottom: 15px; }
.posts .post .post_info abbr { border-bottom: none; }
.posts .post .post_info ul {  }
.posts .post .post_info ul li { display: inline; margin-right: 8px; }
/* -- [.search_info] -- */
.search_info { background: #FFF1A8; margin-bottom: 20px; padding: 6px 10px; text-align: center; }
.search_info p { line-height: normal; margin: 0; }
/* -- [.post_summary] -- */
.posts .post .post_summary {  }
/* -- [.post_body] -- */
.posts .post .post_body {  }
.posts .post .post_body p { font-size: 12px; line-height: 1.5; margin-bottom: 18px; }
.posts .post .post_body p.last { margin-bottom: 0; }
.posts .post .post_body ul { margin: 20px 0; padding-left: 20px; }
/* -- [ .post_viral ] -- */
.post_viral { background: #fff; border: 1px solid #eaeaea; margin-top: 10px; padding: 6px 10px; }
.post_viral h3 { font-size: 12px; font-weight: bold; margin-bottom: 5px; }
.post_viral ul { margin: 0; padding: 0; }
.post_viral ul li { display: inline; font-size: 12px; margin-right: 12px; }

/* -----------------------------------------------------
	Left Links
----------------------------------------------------- */
#left a, #left a:link, #left a:visited { color: #3252B2; text-decoration: none; }
#left a:hover { text-decoration: underline; }
#left a:focus, #left a:active { outline: none; }
#left a.back_link { color: #999; display: block; margin-bottom: 20px; }
#left a.back_link:hover { color: #3252B2; }

/* ------------------------------------------------------------
	Pagination
------------------------------------------------------------ */
#left .pagination { font-size: 12px; margin: 0; padding-top: 20px; }
#left .pagination a { padding: 4px 9px; margin: 0 3px; border: 1px solid #ccc; }
#left .pagination a:hover,
#left .pagination a:active { color: #0d0d0d; padding: 3px 8px; border: 2px solid #0d0d0d; background: none; text-decoration: none; }
#left .pagination span.current,
#left .pagination span.disabled { padding: 4px 9px; margin: 0 3px; }
#left .pagination span.current { border: 1px solid #0d0d0d; color: #fff; background: #0d0d0d; }
#left .pagination span.disabled { border: 1px solid #ccc; color: #999; }

/* -----------------------------------------------------
	Links
----------------------------------------------------- */
a:focus, a:active { outline: none; }

/* -----------------------------------------------------
	P.I.E. FLOAT CLEARING
	www.positioniseverything.net/easyclearing.html
----------------------------------------------------- */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Fixes IE/Mac */
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */