/* -----------------------------------------------------
	Base
----------------------------------------------------- */
* { margin: 0; padding: 0; }
html, body { height: 100%; margin: 0 0 1px 0; padding: 0; }
body { font: 13px Arial, Helvetica, sans-serif; color: #252525; background: #797979; }

/* -----------------------------------------------------
	Top Bar
----------------------------------------------------- */
#top_bar { background: #efefef; border-bottom: 1px solid #cacaca; color: #8c8c8c; font-size: 11px; }
#top_bar .inner { margin: 0 auto; width: 930px; }
#top_bar a { color: #555; font-weight: bold; }
#top_bar a:hover { color: #333; text-decoration: none; }
#top_bar p.welcome { display: inline; float: right; }
#top_bar p.welcome a { text-decoration: underline; }
#top_bar p.welcome,
#top_bar ul { padding: 10px 0; }
#top_bar ul#nav_user_alt { display: inline; float: right; margin-left: 25px; }
#top_bar ul li { border-left: 1px solid #444; display: inline; list-style: none; margin-right: 5px; padding-left: 8px; }
#top_bar ul li:first-child { border-left: none; padding-left: 0; }

/* -----------------------------------------------------
	Structure
----------------------------------------------------- */
#mast_head { background: #fff; }
#mast_head > .padding > .content { height: 105px; position: relative; }
/* -- [Shared] -- */
#mast_head > .padding,
#container > .padding,
#footer > .padding { margin: 0 auto; width: 960px; }
/* -- [#mast_head > #branding] -- */
#mast_head #branding { position: absolute; top: 50%; left: 13px; background: #eee; height: 70px; margin-top: -35px; width: 220px; }
#mast_head #branding a { height: 100%; position: absolute; text-indent: -99999px; width: 100%; }
/* -- [#container] -- */
#container { background: #fff; padding: 15px; }
#container > .padding {  }
#container > .padding > .content { position: relative; }
/* -- [#footer] -- */
#footer { background: #797979; border-top: 3px solid #6a6a6a; }
#footer .content { padding: 20px 0; }
#footer .content p { font-size: 11px; }
#footer .content a { color: #000; font-weight: bold; }

/* -----------------------------------------------------
	.container
----------------------------------------------------- */
.container { margin-bottom: 10px; }
.container:last-child { margin-bottom: 0; }
.container > .padding { background: #e7e7e7;
border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
padding: 4px; }
.container > .padding > .content {  }
.container .content .header { background: #686868; color: #fff;
border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
padding: 5px 10px; }
.container .content .header h2 { font-size: 15px; font-weight: normal; position: relative; }
.container .content .header img { position: absolute; top: 2px; right: 5px; display: inline; }
.container .content .body { background: #fff; border: 1px solid #686868; border-top: none; padding: 15px 20px; }

/* -----------------------------------------------------
	.meter
----------------------------------------------------- */
#meter_full .content .body .action_bar { background: #f0f0f0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height: 35px; margin-bottom: 20px; }
#meter_full .content .body .item_images { display: inline; float: left; height: 200px; text-align: center; width: 200px; }
#meter_full .content .body .item_images img { border: 1px solid #cacaca; }
#meter_full .content .body .item_details { display: inline; float: right; width: 685px; }
#meter_full .content .body .item_details h2 { color: #146aa9; font-size: 19px; font-weight: normal; margin-bottom: 8px; }
#meter_full .content .body .item_details .item_content { display: inline; float: left; width: 510px; }
#meter_full .content .body .item_details .item_content .criteria { margin-bottom: 10px; }
#meter_full .content .body .item_details .item_content .criteria span { color: #ff6600; font-size: 16px; font-weight: bold; margin-right: 15px; }
#meter_full .content .body .item_details .item_content .criteria span:last-child { margin-right: 0; }
#meter_full .content .body .item_details .item_actions { display: inline; float: right; width: 150px; }

/* -----------------------------------------------------
	.tabs
----------------------------------------------------- */
.simple_tabs {  }
.simple_tabs ul.navigation,
.simple_tabs ul.navigation li,
.simple_tabs ul.navigation li,
.simple_tabs ul.navigation li a,
.simple_tabs > div { display: inline; float: left; }
.simple_tabs ul.navigation { background: #f0f0f0 url(/images/app/bg_pixel_cacaca.gif) repeat-x 0 bottom;
border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
clear: both; padding: 5px 5px 0 5px; width: 100%; }
.simple_tabs ul.navigation li { font-size: 12px; margin-right: 5px; }
.simple_tabs ul.navigation li a { color: #000; padding: 5px 10px; }
.simple_tabs ul.navigation li a.selected { background: #fff; border: 1px solid #cacaca; border-bottom: 1px solid transparent; color: #000; padding: 4px 9px; }
.simple_tabs > .tab { display: block; width: 100%; }
.simple_tabs > .tab > .padding { padding: 12px 15px; }
.simple_tabs > .tab h3 { margin-bottom: 10px; }
.simple_tabs #tab1 {  }
.simple_tabs #tab2 {  }
.simple_tabs #tab3 {  }
.simple_tabs #tab4 {  }

/* -----------------------------------------------------
	.hype_form
----------------------------------------------------- */
.hype_form { margin: 0 auto; width: 680px; }
.hype_form .header { background: #000; color: #fff; padding: 10px 15px; }
.hype_form .header h2 { font: normal 16px Arial, Helvetica, sans-serif; }
.hype_form .body { border: 1px solid #cacaca; min-height: 250px; height: auto !important; height: 250px; }
.hype_form .body > .padding {  }
.hype_form .body .content { position: relative; }
.hype_form .body .left,
.hype_form .body .right { background: #ddd; min-height: 300px; height: auto !important; height: 300px; }
.hype_form .body .left { display: inline; float: left; margin: 20px 0 20px 20px; width: 60%; }
.hype_form .body .right { display: inline; float: right; margin: 20px 20px 20px 0; width: 30%; }
.hype_form .body .bottom { border-top: 1px solid #cacaca; clear: both; min-height: 50px; height: auto !important; height: 50px; }


.page_head { border-bottom: 1px solid #ccc; padding: 20px 30px; }
/* -- [.page_head .person] -- */
.page_head .person { border-top: 1px solid #f2f2f2; margin-top: 15px; padding-top: 15px; }
.page_head .person:first-child { border-top: none; padding-top: 0; margin-top: 0; }
.page_head .person img { background: #fff; border: 1px solid #d2d2d2; display: inline; float: left; padding: 5px; }
.page_head .person .info { color: #787878; margin-left: 130px; }
.page_head .person .fn { font-size: 16px; margin-bottom: 8px; }
.page_head .person .last_hype { font-size: 16px; margin-bottom: 4px; }
.page_head .person .last_hype .label {  }
.page_head .person .last_hype .title { color: #2793cf; font-weight: bold; }
.page_head .person .last_hype .time { margin-left: 15px; font-size: 12px; }
.page_head ul.actions {  }
.page_head ul.actions li { display: inline; list-style: none; margin-right: 8px; }

.page_body { padding: 30px 30px 0 30px; }
.page_body h1 { color: #ff6600; font-size: 18px; font-weight: normal; margin-bottom: 35px; }

.index.thumbs {  }
.index.thumbs .thumb { display: inline; float: left; margin-bottom: 20px; position: relative; text-align: center; width: 180px; }
.index.thumbs .thumb #overlay_panel { text-align: left; }
.index.thumbs .thumb h4 { color: #2793cf; font-size: 12px; margin-bottom: 5px; }
.index.thumbs .thumb h4 a { color: #2793cf; }
.index.thumbs .thumb img { filter: alpha(opacity=20); -moz-opacity: 0.2; opacity: 0.2; height: 140px; width: 145px; }
.index.thumbs .thumb .status { color: #555; font-size: 11px; }
.index.thumbs .thumb .meta { display: none; }
.index .list {  }

/* -----------------------------------------------------
	#overlay_panel
----------------------------------------------------- */
#overlay_panel { position: absolute; top: -252px; left: -160px; height: 250px; width: 500px; }
#overlay_close { display: none; }
#overlay_arrow { position: absolute; bottom: -16px; left: 50%; background: url(/images/app/overlay_arrow.png) no-repeat; height: 19px; margin-left: -18px; width: 37px; z-index: 110; }
#overlay_content { height: 100%; overflow: hidden; position: relative; width: 100%; z-index: 100; }
#overlay_content .container .content .body { border: 3px solid #686868; border-top: none; height: 188px; padding: 15px 20px; }

/* -----------------------------------------------------
	#nav_main
----------------------------------------------------- */
#nav_main { display: none; position: absolute; top: 39px; right: 0;  }
#nav_main ul {  }
#nav_main ul li { display: inline; font-size: 12px; font-weight: bold; margin-left: 15px; text-transform: uppercase; }
#nav_main ul li:first-child { margin-left: 0; }
#nav_main ul li a { color: #555; }
#nav_main ul li a:hover { color: #222; }

/* -----------------------------------------------------
	Images
----------------------------------------------------- */
a img { border: none; }
p img { padding: 0; max-width: 100%; }
img.centered { display: block; margin: 15px auto; padding: 0; }
img.alignright { display: inline; margin: 15px 20px; }
img.alignleft { display: inline; margin: 15px 20px; }
.alignright { float: right; }
.alignleft { float: left; }

/* -----------------------------------------------------
	Links
----------------------------------------------------- */
a { color: #258; text-decoration: none; }
a:hover { color: #933; text-decoration: underline; }
a:focus, a:active { outline: none; }

/* -----------------------------------------------------
	Common, Misc...
----------------------------------------------------- */
.hidden, hr { display: none; }
.clear { clear: both; }

/* -----------------------------------------------------
	P.I.E. FLOAT CLEARING
	www.positioniseverything.net/easyclearing.html
----------------------------------------------------- */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Fixes IE/Mac */
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
