- session[:alpha_popup]=nil
= stylesheet_link_tag 'site-information-fancybox.css'
.wrap1
  .blue-bg1
    %h1
      Welcome to The Hype's private Alpha launch!
    %p
      We really appreciate your interest and are excited about your collaboration with us.
    %p
      We ask a few things of all our Alpha testers:
  .content1
    #feedback
      %img{:src => "/images/app/hypeintro_feedback.png"}
      %h1
        Give us feedback!
      %h2
        Please be aware their may be bugs with the site including styling, functionality and speed. We ask you to be patient with us as we work to identify and fix the problems.
      %p
        If you see or experience any issues please point it out using our feedback system, which can be activated by selecting the tab on the side of your browser window.
    #edit-items
      %h1
        Edit Items
      %p
        If you notice any items that have incorrect, incomplete, or inappropriate information please help improve those items for The Hype community as well as for your friends. Just select the edit icon,
        %span
          %img{:src => "/images/app/graphic_icon_edit.png"}
          %span#disp , on the item page and make any necessary changes.
    #add
      %h1
        Add + Tag Items
      %p
        New items are being launched everyday into the consumer marketplace and sent on through to the hype machine of the internet forcing us to wander all over the web trying to find authentic info. Please help us get new items into The Hype by adding and tagging them so you and your friends can offer their experiences and we can all benefit from reliable and trusted information. 
    #invite-friends
      %h1
        Invite Friends
      %p
        Feel free to invite as many of your friends and trusted sources of information to the site. We want you to gather as much authentic wisdom as possible and getting your friends Hyping and using the site is the surest way to getting the most out of the service. Thanks and enjoy.
      %p
        The Hype Team
    #start-hyping
      %a{:href => "javascript:;", :onclick=>"$.fancybox.close();"}
        %img{:src => "/images/app/Button_hypeintro_popup.png"}