.box_holder
  .red_banner
    Cannot delete your account
  .notice_message
    %p
      You need to 
      = image_tag('/images/app/check.png')
      the box to the right before we can delete your account. 
      Make sure to read the information before checking the box. 
      Thank you.
    %br
    %p
      The Hype Team
  .clear
    &nbsp;
