.box_holder
  .blue_banner
    Please verify this is your account
  .notice_message.confirm
    %p
      Before we delete your account please confirm this
      account is actually yours.
    %p
      Enter your password to confirm your account.
    - form_for current_user, :html => {:method => :delete}, :builder => HandcraftedFormBuilder do |f|
      = hidden_field_tag :sure, true
      = f.password_field :password, :label => 'Password', :class => 'label_example password'
      = image_submit_tag('/images/app/enter.png', :class => 'enter')
      .clear
    .cancel_box
      = link_to 'Cancel', ''
  .clear
    &nbsp;
