%script{:src => "/javascripts/new_message_form.js", :type => "text/javascript"}
- if @user && current_user!=@user
  %span.no_friends{:style => "font-size: 15px;font-weight:inherit;margin-top:10px;margin-bottom:20px;margin-left:12px;"}
    =@user.name
    - if friend_status=='following'
      follows
      = @friends_count.count
      people
    - else
      has
      = @friends_count.count
      followers
    %br
= render :partial => 'users/user', :collection => user_block
.clear
#com_bottom_paginate
  = will_paginate(user_block, :param_name => 'friends_page')

:javascript
  jQuery(document).ready(function($) {
    $('#com_bottom_paginate').click(function(){
    $('html,body').animate({scrollTop: $('#community_header').offset().top},'slow');
    });	
  });
