.box_holder{:style=>"height:209px;"}
  .red_banner{:style=>"background:none repeat scroll 0 0 #C10101;color:white;font-size:18px;height:35px;margin-left:-20px;margin-top:-10px;text-align:center;width:109.5%;padding-top:10px"}
    Do you want to save your changes?
  .notice_message{:style=>"color:#3B3B3B;font-size:16px;margin:14px auto !important;text-align:left;width:353px;"}
    %p
      Before you leave this page would you like to save your changes? If so, select 'Save Changes.' If not, select 'No Thanks.'
    #follow_request_button{:align=>"center", :style=>"margin-top:-15px;"}
      = link_to image_tag('/images/app/save_changes_before_unload.png', :title=>"Save Changes"), "javascript:;", :onclick=>"$.fancybox.close();$('#top-items').submit();"
  %hr{:style=>"display:block !important;color:#B2B2B2;"}
    = link_to "No Thanks" ,"javascript:;",:style=>"float:right" , :onclick=>"$.fancybox.close();" 
