.numbers
  .image=image_tag('app/signup_steps/step1.png')
  .cont Pick an item type

  .image=image_tag('app/signup_steps/step2.png')
  .cont 
    .inner 
      Select the
    .inner-img
      =image_tag('app/plus.png', :style => "margin-top: -4px", :alt => "")
    .inner{:style => "margin-left: 8px;margin-right: 0px"}
      button
    .clear

  .image=image_tag('app/signup_steps/step3.png')
  .cont Follow the prompts
  

  .clear
