#footer
  .padding
    .content
      %ul 
        %li=link_to('About', about_path, :class=>"dropdown")
        %li=link_to('Terms of Use', '/terms', :class=>"dropdown")
        %li=link_to('Privacy Policy', '/privacy', :class=>"dropdown")
        %li=link_to('Contact us', '/contact', :class=>"dropdown")
        %li=link_to('FAQ', '/faq', :class=>"dropdown")
        %li=link_to('Blog', about_path, :class=>"dropdown")
        %li.last
          Stay Connected 
          %br
          =link_to(image_tag('/images/icons/connect_twitter.png'), 'http://www.twitter.com/thehype', :target => '_blank')
          =link_to(image_tag('/images/icons/connect_facebook.png'), 'http://www.facebook.com/thehype', :target => '_blank')
      %span= "&copy; #{Date.today.year} #{link_to @site.name, root_url, :class=>"dropdown"}"
