- if @site.beta_invites?
  .notice.beta
    %h4= "#{@site.name} is currently in a private beta."
    %p= "#{link_to "Request an invite", new_invite_path}. We are pretty quick with approving invite requests."