%ul.progress-bar
  %li{:class => "first done #{current_step == 'favourites' ? 'favs' : ''}"}
    %p.step Step 1 
    %p Setup Account
    =image_tag '/images/app/icon_check.png'
    .overlayer
  %li{:class => step_state(current_step, 'favourites')}
    %p.step Step 2 
    %p Start Hyping
    =image_tag '/images/app/icon_check.png'
    .overlayer
  %li{:class => step_state(current_step, 'profile')}
    %p.step Step 3
    %p Create Profile
    =image_tag '/images/app/icon_check.png'
    .overlayer
  %li{:class => "last #{step_state(current_step, 'settings')} "}
    %p.step Step 4
    %p Settings
    =image_tag '/images/app/icon_check.png'
    .overlayer
.clearfix
