%h1.style_2
  Product Details
.page_navigation.clearfix
  %ul
    %li.active
      %a{:href => root_url}
        %span.link
          Top Hypes
        %span.description
          Item's Top Hypes
    %li
      %a{:href => root_url}
        %span.link
          Reviews
        %span.description
          Detailed Item Reviews
    %li
      %a{:href => root_url}
        %span.link
          Conversations
        %span.description
          Conversations Around an Item