#static.index
  .half.first
    .wisdom_box
      %h2
        Easily discover from the ‘wisdom of <span class="underline" >your</span> crowd’ 
        what is, and is not, worth the hype. 
  
      %h2
        Share and showcase your consumer experiences 
        with your friends on any items as they happen.
  
      %h2
        So go ahead...
      %ul
        %li 
          %span.icon 
            =image_tag('/images/app/icon_search.png') 
          %span.text
            %span Discover 
            what the hype is about
        %li 
          %span.icon 
            =image_tag('/images/app/icon_check.png') 
          %span.text
            %span Decide 
            if it is worth it, or not
        %li 
          %span.icon 
            =image_tag('/images/app/icon_post.png') 
          %span.text
            %span Post 
            what you know
  
    %h3
      The Mission
    %p
      Our mission is to provide a consumer utility that helps people share their experience
      on any item and gather consumer wisdom from their trusted sources.
    %h3
      The Vision
    %p
      We will strive to be the most authentic and transparent source of 
      consumer-generated knowledge online.  Our goal is to provide people
      the simplest tools necessary to capture, share and gather consumer 
      experiences as they happen.
  
    %h3 Our Story
    %p 
      As consumers we were frustrated with the amount of hype permeating 
      the social and ‘real time’ web, and the difficulty with deciding if 
      something is worth the hype or not.  Finding reliable, current and 
      trusted consumer knowledge online is overwhelming and time consuming. 
      Review sites are either too limited, too impersonal or not transparent 
      enough.  We also wanted a site that was not about distracting and 
      intrusive advertisements, or increasing the hype of a consumer item.  
  
    %p
      The Hype is built from the ground up as a service that promotes 
      authenticity and encourages transparency.  We are consumer-centered 
      and consumer-powered. 
  
    %p
      The Hype allows anyone to easily create, share and showcase their 
      consumer wisdom.  Likewise, it allows your friends and family, those 
      trusted sources of consumer knowledge, to share what they <span class="underline">really</span> 
      think about their experiences.   
  
      The Hype allows users to share information on all consumer items
      including products, movies, events, music, places and more.  It is a
      site you can visit at anytime, from anywhere, to get the wisdom of 
      <span class="underline">your</span> crowd on any consumer experience as it happens.
  
  .half.second
    .wisdom_box.video
      =image_tag('/images/app/fake_video.png') 

    .text_holder
      %h3.no_bottom_margin
        Reasons to join
      = render :partial => 'shared/reasons_to_join'
  
      %h3
        How to use the site
     
      %ul.steps
        %li.step1
          Complete your profile.  
          %span.hint  Authenticity=Credibility!
        %li.step2
          Invite your friends over to the site  
          %span.hint To gather the wisdom of <span class="underline">your</span> crowd!
        %li.step3
          Follow your friends  
          %span.hint And begin to see what gets them Hyped 
        %li.step4
          Start Adding, Tagging and Hyping items
          %span.hint So others can gain from the knowledge of your experiences
        %li.step5
          Create and join conversations  
          %span.hint Ask questions, make comments, &amp; share your thoughts 
  
      %p
        For more details on how to use the site visit 
        =link_to('FAQ', '/faq')
    %br.clear
  =image_tag('/images/app/welcome_footer.png', :id => 'welcome') 
.clear
