%br/
.text
  %br/
  %p.info
    If you are interested in contacting us during our Alpha phase please 
    contact us through one of the emails below.  You may also stay 
    informed on the latest happenings with The Hype by subscribing 
    to our Blog or following us on one of the social streams to the right

  %p.noBottomMargin
    General Information
  %p.smallTopMargin= mail_to 'info@thehype.com', 'info@thehype.com'

  %p.noBottomMargin
    Press Inquires:
  %p.smallTopMargin= mail_to 'press@thehype.com', 'press@thehype.com'
   
