#pages.index
  %h1 Contact Us
  
  =render(:partial => 'pages/menu', :locals => {:selected => 'contact'})
  
  .page_content

    %h2
      =image_tag('/images/app/contact_header.png')

    .info
   
      %p 
        If you have a general question, a press-related interest or need some support with the site
        please contact us through email.  You may also stay informed on the latest happenings with 
        The Hype by subscribing to our 
        =link_to('Blog', '/blog')
        or following us at 
        =link_to('Twitter', 'http://www.twitter.com/thehype', :target => '_blank')
        or 
        =link_to('Facebook', 'http://www.facebook.com/thehype', :target => '_blank') + '.'
  
      %ul 
        %li.header General Information:
        %li 
          =mail_to 'info@thehype.com', 'info@thehype.com'
        %li.header Press Inquires:
        %li 
          =mail_to 'press@thehype.com', 'press@thehype.com'
        %li.header Help or Support:
        %li 
          =mail_to 'support@thehype.com', 'support@thehype.com'

.clear
