#pages.index
  %h1 Privacy Policy
  
  =render(:partial => 'pages/menu', :locals => {:selected => 'privacy'})
  
  .page_content

    %h2
      =image_tag('/images/app/privacy_header.png')

    .information
   
      %p
        Effective September 15, 2010
       
      %p 
        The Hype realizes that our service located online at <a href="/">www.thehype.com</a> (the "Site"), can only work if we build trust within our user community.  We believe trust begins with being transparent about the information we collect from you, including, but not limited to, your personal information.  The Hype provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use and disclosure of all the personal information we collect and consumer data you contribute through the Site and mobile applications. We reserve the right to modify this Privacy Policy at any time, and without prior notice, by posting an amended Privacy Policy on the Site. You are advised to consult this Privacy Policy regularly for any changes.
        
      %p 
        By using our Site you are consenting to our processing of your personal information as set forth in this Privacy Policy now and as amended by us. "Processing" means using cookies on a computer or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, and combining personal information. If you reside outside the U.S. please note that your personal information will be transferred to the U.S., and processed and stored there under U.S. privacy standards. By visiting our Site and providing information to us, you consent to such transfer to, and processing in, the U.S.
         
      %p 
        If you have any questions or comments about this Privacy Policy or our use of your personal information, please contact us at <a href="mailto:privacy@thehype.com">privacy@thehype.com</a>.
          
      %h3 
        Information Collection

      %p 
        The Hype generally uses the personal information it maintains about you to provide you with the products and services made available through the Site, including, but not limited to, to communicate with you, to manage your user account,  to customize your experience, troubleshoot and provide updates, measure interest in products and services, provide offers that might interest you, resolve disputes, detect and protect against error, fraud and criminal activity, comply with applicable law, regulations, legal processes or enforceable governmental requests, enforce our Terms of Use and for other legitimate business purposes, and as otherwise described to you at the time of collection.
           
      %h3 
        User Information Collected Upon Registration
      %p 
        If you desire to have access to certain features of the Site, you may be required to become a registered user, and to submit certain personal information to the Site.  In the course of signing up for the Site, The Hype will prompt you to provide certain personal information about yourself including your full name, photo, email address, date of birth (your profile will hide your date of birth, and age can be hidden from public view), gender, city, state/country of residence, and password.  The Hype does not automatically include or display all personal information in your shared User Profile Page.  We give you the option to make your profile data more private if you want through "Settings." To foster user authenticity and transparency, we encourage you to fill out your profile data completely and share it with The Hype community.  This information is displayed within your own unique User Profile Page.  

      %p 
        Your username and IP Address are displayed to the public on the Site.  However, any other information within the profile can be made private.  If you choose to make your profile private and viewable by only your approved individuals then you must select that option either when registering your account or under your account settings after registration.  Once a registered user, you may provide additional information in the Profile Data section.  Providing additional information beyond what is required at registration is entirely optional, but enables you to better identify yourself within The Hype community and increase your reputation.  If you contact us by email through the Site, we may keep a record of your contact information and correspondence, and may use your email address, and any information that you provide to us in your message, to respond to you.  Some services of the Site such as search and public viewing of profiles does not require registration.

      %p 
        We use your email address to send you updates, provide services to you in connection with the Site and to contact you on behalf of other users sending you messages.  

      %p 
        We may use your contact information to provide you with information about our products and services.  You may also allow the Site to provide you with personalized recommendations based on your consumer Data created on the Site.  If you decide at any time that you no longer wish to receive such information or communications from us, just follow the unsubscribe instructions provided in such communications.
             
      %h3 
        Consumer Review Data Collected
      %p 
        The Hype, like most web communities, is a public forum and you acknowledge and accept that any consumer review information you share is connected to your User Profile Page and may be seen by other users.  You are encouraged to share consumer information ("Consumer Review Data"), but should consider that the more information that you enter, the more personally identifiable you may be.  

      %p 
        The Hype enables you to share and showcase your consumer experience on any item online so that all users can benefit from the collective knowledge gathered from others' experiences. Your Consumer Review Data information may include:  

      %ul
        %li 
          Top "Hyped" items (during sign up process);
        %li 
          "Hyping" an item, which includes 'First thoughts that come to mind', the three criteria rating, aggregated score from three ratings, your comments or review, and 'The Good' and 'The Bad'; 
        %li 
          Any comments or forum postings made within the Site for a consumer item under 'Conversations' on Item page and in 'The Stream' on the Home page;
        %li 
          Hot Tips; suggestions or ideas about the item to further benefit transparency of the consumer offering; and
        %li 
          New Items; unique description of an added item and images uploaded from personal computer (All other data is provided by respective owners of Application Programming Interfaces or APIs).
      %p
        Note that if you include personal information in your Consumer Review Data it can be used and viewed by others.  We are not responsible for the information you choose to include in your Consumer Review Data.

      %h3
        Log Data
      %p
        When you visit the Site, our servers automatically record information that your browser sends whenever you visit a website ("Log Data"). This Log Data may include information such as your IP address, browser type or the domain from which you are visiting, the pages you visit on the Site, date and time of your visit, the search terms you use, and any links on which you click. For most users accessing the Internet from an Internet service provider, the IP address will be different every time you log on. We use Log Data to monitor the use of the Site and of our services, and for the Site's technical administration. We also use this information in the aggregate to perform statistical analyses of user behavior and characteristics in order to measure interest in and use of the various areas of the Site.  We do not associate your IP address with any other information to identify you personally, except in case of violation of the Terms of Use.

      %h3
        Messaging
      %p
        The Site allows you to exchange messages with others using the messaging feature and email.  We may store these messages in order to deliver them and allow you to manage them.  

      %h3
        Feedback
      %p
        You should feel free to give us feedback, register a complaint or ask questions about the Site.  We may store your communications, including any personal information you include in them so that we can effectively respond to you.  

      %h3
        Cookies
      %p
        Like many websites, we also use "cookie" technology to collect additional website usage data and to improve the Site and our service. A cookie is a small data file that we transfer to your computer's hard disk. We do not use cookies to collect personally identifiable information. The Hype may use both session cookies and persistent cookies to better understand how you interact with the Site and our Service, to monitor aggregate usage by our users and web traffic routing on the Site, and to improve the Site and our services. A session cookie enables certain features of the Site and our service and is deleted from your computer when you disconnect from or leave the Site. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to the Site. Persistent cookies can be removed by following your web browser help file directions. Most Internet browsers automatically accept cookies. We enable some of our business partners to use cookies in conjunction with your use of the Site.  We have no access to or control over the use of these cookies.  You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.

      %h3
        Administration
      %p
        We may use any of the information described above for routine administrative purposes, such as investigating abuses on the Site, responding to user inquiries and enforcing and applying our Terms of Use.
      %h3
        Information Sharing and Disclosure 
      %h3
        Service Providers
      %p
        The Hype engages certain trusted third parties to perform functions and provide services to us, including, without limitation, hosting and maintenance, user and customer relations, and/or database storage and management. We may share your personal information with these third parties, but they are not permitted to use your personal information other than to provide the services requested by you.
      %h3
        Aggregate Information.  
      %p
        We reserve the right to retain, use and disclose aggregate or anonymous information developed from personal information at any time. 

      %h3
        Other Third Party Sharing of Data
      %p
        The Hype is interested in providing more transparency to the consumer marketplace.  We hope the Site can improve the development, production, manufacturing, distribution and customization of consumer items.  We believe that by better understanding the consumer experiences of you and other users, the more likely all consumers will be impacted positively.  In addition to serving the individual needs of our users, The Hype may provide your information to other third parties for use in scientific and market research ("Third Party Researchers"). The Hype will remove all information that could reasonably be used to personally identify you (i.e. the Site “de-identifies” your personal and Consumer Review Data) prior to sharing such information with Third Party Researchers. The Hype may share such de-identified data that relates to you to Third Party Researchers either as part of individual records or in aggregate form.  

      %p
        Other users and third parties will be able to view your Profile Data including Date of Birth and gender, but none of your personal identifiable information (e.g., full name and email address)  Additionally, so that others can learn from your experiences, your Profile Data will be aggregated and made available to other users. For example, we may allow other users and Third Party Researchers to see the number of users indicating their dislike of a particular consumer item and the demographics related to those ratings.
 
      %p
        In the event that The Hype is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. We will seek appropriate protection for personal information disclosed or transferred in such transactions consistent with applicable law.

      %p
        In the future, we may provide an opt-in service to allow our business partners (including but not limited to product manufacturers, event producers, marketers, and/or Third Party Researchers) to directly communicate with you through our Site if you have chosen to allow such communications (i.e., opting in for "Connections").  If you opt in for Connections, The Hype or third parties may also periodically ask you if you are interested in completing short surveys, polls or be a part of a focus group about your experiences (including questions about products and services) for research purposes. You are free to respond or not. Your participation in these activities is not required, and your refusal to participate will not impact your experience on the Site.  If you do participate in such activities, the activity you participate in may be displayed on the Site. You can make your Connections activity private by changing the settings in your account under Settings. If you do not opt in for Connections, the Hype will not contact you about such activities.  You may unsubscribe or "Unconnect" to the Connections service at any time through Settings.

      %h3
        Compliance with Laws and Law Enforcement 
      %p
        The Hype cooperates with government and law enforcement officials or private parties to enforce and comply with the law. We may disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims, legal process (including subpoenas), to protect the property and rights of The Hype or a third party, the safety of the public or any person, to prevent or stop any illegal, unethical, or legally actionable activity, or to comply with the law.

      %h3
        Changing, Deleting or Exporting Information
      %p
        If you are a registered user of the Site, you may access and update or correct the information you provided by going to your Profile Settings and updating your information at anytime. You may also delete your account at anytime by going to your Settings and clicking Delete Account.  We will use reasonable efforts to delete the account information from our database if it is not otherwise required to be retained by law or for legitimate business purposes.  When we delete account information, back-up copies may exist in storage for some period of time after we process the deletion request.  Furthermore, you may also export any and all of your Profile Data and Consumer Review Data by going to Settings and clicking Export Data.  This does not delete your account or remove your Profile and Consumer Review Data; it only provides you will a CSV file of your information you contributed.  
               
      %h3
        Security
      %p
        The Hype is very concerned about safeguarding the confidentiality of your personal information. We employ administrative, physical and electronic measures designed to protect your information from unauthorized access.  No data transmissions through the Internet or mobile devices or even the physical transfer of information can be guaranteed to be completely secure.  We cannot fully eliminate all security risks associated with personal information and technical mistakes are possible.  Therefore, we do not ensure or warrant the security of any data or information you transmit to us and you do so at your own risk.
      %p
        The Hype cannot guarantee the identity of any other members with whom you may interact in the course of using the Site or who may have access to information you have posted in the User Profile Page.  Additionally, we cannot guarantee the authenticity of any data that members may provide about themselves.  

      %h3
        Links to Other Websites
      %p
        Our Site contains links to other websites that are not owned or controlled by us. The fact that we link to a website is not an endorsement, authorization or representation of our affiliation with that third party. We are not responsible for the privacy practices of other sites.  We encourage you to read the privacy policies or statements of the other websites you visit.
                 

      %h3
        Our Policy Towards Children
      %p
        The Site is not directed to persons under 13. We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we will delete such information from our files.

      %h3
        QUESTIONS ABOUT THE PRIVACY POLICY
      %p
        If you have questions or comments about our Privacy Policy please contact us at <a href="mailto:privacy@thehype.com">privacy@thehype.com</a>.
  
  .clear
.clear
