.index
  #centered_forms
    .padding
      %h2 Change Your Password
      = error_messages_for :user
      - form_for(@user, :url => password_url(params[:id]), :method => :put, :builder => HandcraftedFormBuilder) do |f|
        %fieldset
          %legend Change your password
          = f.password_field :password, :hint => "Minimum of 6 letters and numbers"
          = f.password_field :password_confirmation, :hint => "Must match the above"
          = f.submit "Update your password"
