- if item.id.blank?
  - item_path = items_url(:item => {:source_id => item.source_id})
  - method = :post
- else
  - item_path = item_url(item) 
  - method = :get

= render :partial => 'items/item', :locals => {:item => item}

%h3= link_to item.name, item_path, :method => method
.item_description
  = truncate(item.short_description, :length => 250)
- unless item.last_hyped_at.nil?
  .status
    Hyped
    = time_ago_in_words(item.last_hyped_at) + " ago"
    
%br.clear
%br.clear
