:javascript
	if ($('#users_favorites').length) {
		$('form.new_review').ajaxForm({
			dataType: 'json',
			success: function(data) {
				$data['rating'] = data['rating'];
				$.fancybox.close();
				insertFlashContent(data['message']);
			} 
		})
	}
