%div{:align => 'center'}
  .bottom
    .favorites-wrapper{:style => 'float: left'}
      = render :partial => 'items/favorite', :locals => {:item_favorite => @item_favorite, :item => @item}
      %p.favorite_label  Favorite
    .form_actions{:style => 'float: left'}
      =  submit_tag("Post", :class => 'hype-button-new')
    %ul.sharing{:style => 'float: right; display: inline'}
      %li
        = link_to image_tag('icons/twitter_20.gif'), 'javascript:;', :id => 'twitter'
        = hidden_field_tag :tweet_hype, nil, :id => 'tweet_hype' 
      %li{:rel => @item.name}
        %a{:class => 'fake_facebook', :rel => item_url(@item.id)}
          <img src="/images/icons/facebook_20.gif" alt="Fb_icon">
      .clearfix
      %span Share
.clear
