= image_tag(item.thumb_image, :width=>"100px", :align => :left)

%h2 Be the first to Hype this item! And go to hell!

%span Only Hype items you own or have direct experience with.

.hype-it-from-add
  =link_to "Hype It!", item_path(item) , :class => "hype-item"
  /new_item_review_path
