.navigation_holder
  %h1#snapshot_head
    Overview
  %h1#details_head
    Details
  %h1#reviews_head
    Hypes
  %h1#conversations_head
    Conversations
  .navigation
    %ul.clearfix
      %li.snapshot
        %a{:href => "#snapshot"}
          %span.link
            Overview
      %li.details
        %a{:href => "#details"}
          %span.link
            Details
      %li.reviews
        %a{:href => "#reviews"}
          %span.link
            Hypes
            %span 
              = @reviews.total_entries
      %li.conversations
        %a{:href => "#conversations"}
          %span.link
            Conversations
            %span 
              = @comments.total_entries
  .clearfix
.clearfix

%h3#snapshot_header.clearfix
  A quick look at this item
%h3#details_header.clearfix
  Full Item Info
%h3#reviews_header.clearfix
  All the reviews for this Item
%h3#conversations_header.clearfix
  Discussions around this Item
%br.clear
