- if current_user
  -target = target || ''
  .select-div
    %ul.select-filter{:style=>"float:left;margin:-17px 137px;padding-bottom:24px;"}
      %li
        %a.a-global{ :href => "javascript:;", :class => "#{params[:scope] ? '' : 'selected'} option", :rel => target, :id=>@item.id}
          The Crowd
      %li
        %a.a-following{ :href => "javascript:;", :class => "#{params[:scope] ? 'selected' : ''} option", :rel => target, :id=>@item.id}
          %span.underline Your
          Crowd
  .clear
