=render :partial => "items/show/shared/snapshot"
.page_body#item-lower.container
  .tabs.clearfix
    = render :partial => "navigation"
    
    -case  @item.category.api_source
      - when 'product'
        =render :partial => 'items/show/product'
      - when 'music-artist'
        =render :partial => 'items/show/music_artist'
      - when 'music-album'
        =render :partial => 'items/show/music_album'
      - when 'music-track'
        =render :partial => 'items/show/music_track'
      - when 'movie'
        =render :partial => 'items/show/movie'
      - when 'event'
        =render :partial => 'items/show/event'
      - when 'person'
        =render :partial => 'items/show/person'
      - when 'web'
        =render :partial => 'items/show/web'
      - when 'place'
        =render :partial => 'items/show/place'
      - else
        =render :partial => 'items/show/product'
    
    = render :partial => "snapshot", :locals => {:item => @item}
    = render :partial => "comments"
    = render :partial => 'conversations'
