= will_paginate(user_review_block, :param_name => 'reviews')
= render :partial => 'reviews/review', :collection => user_review_block
#bottom_paginate{:style=>"width:800px;"}
	= will_paginate(user_review_block, :param_name => 'reviews')
	
:javascript
	jQuery(document).ready(function($) {
		$('#bottom_paginate').click(function(){
		$('html,body').animate({scrollTop: $('#reviews').offset().top},'slow');
		});
	});
