= javascript_include_tag 'jquery.min.js','jquery-ui.min.js', 'bootstrap/jquery.livequery.js', 'bootstrap/jquery.dimensions.js', 'bootstrap/jquery.autocomplete.js', 'bootstrap/jquery.tablesorter.js', 'bootstrap/jquery.example.js', 'bootstrap/jquery.elastic.js', '/facebox/facebox.js', 'admin.js', 'admin/items.js', 'anytime.js'
%script{:src => "http://www.google.com/jsapi?key=ABQIAAAA1XbMiDxx_BTCY2_FkPh06RRaGTYH6UMl8mADNa0YKuWNNa8VNxQEerTAUcfkyrr6OwBovxn7TDAH5Q", :type => "text/javascript"}
